API_ID=32470626
API_HASH=1d701ebaf57eef0c94400072ae752328
BOT_TOKEN=8210925786:AAHx8B_COlx_lwDLCzUfeKQ7mkIonoSwy8c
STRING_SESSION=BQHvdmIAww-scQb-rzD8reDW1bwB9ZKjCEJFFXb9ci9tHOOAGCW3zph77eg2uHQv4YyQ0QpbnwtvpCTfiTt2aiiGbmGjk6uKMWM1NZOPQSAndktAXEIE5w2sBdt2QQlPtBhHyQrdwgNNVz5TXBEZxvzVR_CxVkHAZZidGdThE898RsXfeFHchjiXumaq_4WL0TAddAcudpR_r27xmT6JdD08QeNpOFENU3g5qu3Y32I66PNSFWr5UW8jyu-9qE_2umaQvYBE6rEIjLGLce-FFHM33eiXRqMTDgHpr-3CUq9CygHt5mPCMA8wfsukjyXojEdKJNLp_fKSdkoKmfXTWZFwtQ3iPgAAAAHHWlDqAA
MONGO_DB_URI=mongodb+srv://Krishtg:<db_password>@krishtg926.nb57nwn.mongodb.net/?appName=Krishtg926
LOG_GROUP_ID=-1003601301106
OWNER_ID=7832349983